.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--primary-colour);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-primary {
  background: var(--primary-colour) !important;
  border-color: var(--primary-colour) !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.results {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 300px;
  margin: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
