.primary {
  color: var(--primary-colour);
}

.bg-dark {
  background-color: var(--grey) !important;
}

.error {
  border: 1px solid var(--primary-colour);
  color: var(--primary-colour);
  background: var(--light-grey);
  padding: 1em;
}

.error:after {
  content: "An error occurred.";
}

.hidden {
  display: none;
}
